/*! obiba-progressbar - v1.0.0-SNAPSHOT
 *  License: GNU Public License version 3
 *  Date: 2015-03-08
 */
.obiba-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background: #29d;
  z-index: 100000;
}

.obiba-progress-spinner {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 100001;
}

.obiba-progress-spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: obiba-progress-spinner-kf 400ms linear infinite;
  animation: obiba-progress-spinner-kf 400ms linear infinite;
}

.animation-off {
  -webkit-animation-name: none;
  animation-name: none;
}

@-webkit-keyframes obiba-progress-spinner-kf {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes obiba-progress-spinner-kf {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
